.gui-combox {
    position: relative;
    height: 30px;
    min-width: 35px;
    padding: 0 20px 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px 10px;
    user-select: none;
}

.gui-combox:hover:not(.disabled) {
    border: 1px solid #aaa;
}

.gui-combox.disabled {
    background-color: #eee;
}

.gui-combox:focus:not(.disabled) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.gui-combox-name {
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
}

.gui-combox-input {
    position: relative;
}

.gui-combox-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    max-height: 300px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    overflow-y: auto;
}

.gui-combox-item {
    position: relative;
    height: 30px;
    color: #555;
    line-height: 30px;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
}

.gui-combox-item:hover {
    background: #e8e8e8;
}

.gui-combox-item-name {
    padding: 0 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.gui-combox-delete-item {
    padding-right: 25px;
}

.gui-combox-delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-image: url("images/delete.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    visibility: hidden;
    cursor: pointer;
}

.gui-combox-delete-icon:hover {
    background-color: #ddd;
}

.gui-combox-item:hover .gui-combox-delete-icon {
    visibility: visible;
}

.gui-combox-item.selected {
    color: #002b36;
    background: #ccc;
}

.gui-combox-item.selected:hover {
    background: #ccc;
}

.gui-combox-item.selected:hover .gui-combox-delete-icon {
    visibility: hidden;
}
